body {
  background-image: url(../img/fonts.jpg);
  background-size: cover; /* Растянуть изображение, чтобы оно покрывало весь задний фон */
  background-repeat: no-repeat; /* Запретить повторение изображения */
  background-attachment: fixed; /* Зафиксировать изображение на месте, чтобы оно не прокручивалось вместе со страницей */
  background-position: center;
  margin-top: 0;
}  

.box  {
  width: 70%;
  margin: 0 auto; /* Чтобы контент был посередине страницы */
}

h1 { 
  font-size: 32px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  margin-top: 1.5em;
  margin-bottom: 1em;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
}

figure {
  clear: right;
  float: right;
  text-align: center; /* Выравниваем содержимое по центру */
}

/* Стилизация подписи к картинке */
figcaption {
  font-style: italic; /* Устанавливаем курсивный стиль */
  font-size: 14px;    /* Размер текста подписи */
}
.article_first {
}
.box {
  background-color: rgba(255, 255, 255, 0.849);
}
table {
    border-collapse: collapse; /* Объединение границ ячеек */
    border: 1px solid black;    /* Цвет и толщина границы таблицы */
    width: 96%;                /* Ширина таблицы (можно задать по вашему желанию) */
  }
  
  th, td {
    border: 1px solid black;    /* Цвет и толщина границы ячеек */
    padding: 8px;               /* Отступ внутри ячеек (можно задать по вашему желанию) */
  }

/* Остальные стили */